* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: default;
}
body {
    background-color: #00D9C0;
}
h1 {
    background-color: #381D2A;
    color: #FF4365;
    height: 5rem;
    line-height: 5rem;
}
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover {
    cursor: pointer;
    background-color: black;
}
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
    color: #FF4365;
}
#user-score, #comp-score {
    font-size: 4rem;
}
.msg-container{
    margin-top: 3rem;
}
#msg {
    background-color: #FF4365;
    color: #381D2A;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    cursor: default;
}